$margin: 20px;
$violet: #7041AC;

.header {
    position: relative;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: var(--margin-box);
    padding-left: var(--margin-box);
    box-shadow: 0 16px 16px 0  #0000001A;
    z-index: 1;
    .mobile-menu-icon {
        display: none;
    }
}
.links {
    scroll-behavior: smooth;
    span {
        font-size: 18px;
        font-weight: bold;
        margin-right: 40px;
        position: relative;
        scroll-behavior: smooth;
        a {
            color: var(--black);
            text-decoration: none;
            scroll-behavior: smooth;
        }
        a:hover {
            color: var(--violet);
        }
        .underline {
            display: none;
            position: absolute;
            width: 30px;
            height: 5px;
            background-color: var(--violet);
            bottom: -10px;
            border-radius: 3px;
            transform: translateX(-50%);
            left: 50%;
        }
    }
    span:hover {
        .underline {
            display: block;
        }
    }
}
.account {
    .signin {
        color: var(--black);
        font-size: 18px;
        font-weight: bold;
        background-color: var(--white);
        border: none;
        margin-right: $margin;
        border-radius: 40px;
        padding: var(--button-pading);
    }
    .signin:hover {
        background-color: var(--light-grey);
    }
    .login:hover {
        background-color: darken($violet, 10%);
    }
}
.search {
    width: 240px;
    height: 50px;
    margin-right: $margin;
    background-color: var(--light-grey);
    border: 1px solid var(--light-grey);
    color: var(--grey);
    align-items: center;
    display: flex;
    border-radius: 40px;
    box-sizing: border-box;
    input {
        background-color: transparent;
        border: none;
        font-size: 16px;
        font-family: 'Fira Sans',  sans-serif;
    }
    img {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.search:hover {
    border: 1px solid var(--violet);
}
.logo {
    width: 50px;
    height: 60px;
    // background-image: url('../../../src/assets/icons/logo-square.svg');
}
.right-half {
    display: flex;
}
@media (max-width: 1700px) {
    .header {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media (max-width: 1250px) {
  
    .header {
        height: 60px;
        padding-left: 36px;
        padding-right: 38px;
        z-index: 2;
        .logo {
            width: 36px;
            height: 30px;
        }
        .links,
        .right-half {
            display: none;
        }
        .mobile-menu-icon {
            width: 50px;
            height: 50px;
            display: block;
        }
    }
    .background {
        z-index: 2;
        position: absolute;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(15px);
    }
    .mobile-menu {
        top: 60px;
        z-index: 3;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--grey);
        .content {
            background-color: var(--light-grey);
            z-index: 3;
            padding: 30px;
            box-sizing: border-box;
            hr {
                width: max-content;
                height: 1px;
                margin-top: 30px;
                margin-bottom: 30px;
                background-color: var(--grey);
                width: 100%;
                opacity: 0.3;
            }
            .links {
                span {
                    display: block;
                    font-size: 24px;
                    margin-bottom: 30px;
                }
            }
            .account {
                display: flex;
                flex-direction: column;
                .signin {
                    padding: var(--button-pading);
                    order: 2;
                    margin-right: 0;
                    border-radius: 40px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                }
            }
            .search {
                width: 100%;
            }
        }
    }
}