<div class="container">
    <h1>I svět zásilek občas postihne výpadek :(</h1>
    <span class="error">Chyba 404 – <strong>stránka nenalezena</strong></span>
    <div class="video">
        <video width="1400" height="628" playsinline autoplay muted loop src="../../../assets/videos/404.mp4" type="video/mp4"></video>
        <div class="text">
            <span>404</span>
            <button class="button-violet">Zpět na úvod<img src="../../../assets/icons/arrow-right-small.svg"></button>
        </div>
    </div>
</div>