article {
    margin-top: 60px;
    margin-left: 379px;
    margin-right: 379px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        border-radius: 9px;
    }
    h1 {
        // margin-left: 100px;
        // margin-right: 100px;
        max-width: 950px;
        margin-bottom: 30px;
    }
    .date {
        margin-bottom: 20px;
        margin-left: 100px;
        font-size: 24px;
        color: var(--grey);
        font-weight: bold;
        align-self: baseline;
    }
    .content {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 100px;
        margin-top: 10px;
        max-width: 686px;
        p {
            margin-top: 10px;
            margin-bottom: 30px;
        }
        .share-buttons {
            position: absolute;
            margin-top: 20px;
            left: -90px;
            .fb {
                background-image: url("../../../assets/icons/fb-icon-share.svg");
            }
            .fb:hover {
                background-image: url("../../../assets/icons/fb-icon-share-hover.svg");
            }
            .tw {
                background-image: url("../../../assets/icons/tw-icon-share.svg");
            }
            .tw:hover {
                background-image: url("../../../assets/icons/tw-icon-share-hover.svg");
            }
            .in {
                background-image: url("../../../assets/icons/in-icon-share.svg");
            }
            .in:hover {
                background-image: url("../../../assets/icons/in-icon-share-hover.svg");
            }
            button {
                display: block;
                border-radius: 50%;
                border: none;
                width: 48px;
                height: 48px;
                padding: 0;
                margin-bottom: 20px;
              
            }
        }
        img {
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 1500px) {
    article {
        margin-left: 150px;
        margin-right: 150px;
    }
    .date {
        margin-left: 0;
        align-self: baseline;
    }
    h1 {
        margin-left: 0;
    }
}
@media (max-width: 500px)  {
    article {
        margin-left: 0;
        margin-right: 0;
        padding: 36px;

        margin-top: 0px;
        align-items: stretch;
        h1 {
            font-size: 36px;
            margin-right: 0px;
            margin-left: 0;
        }
        .date {
            margin-bottom: 20px;
            font-size: 14px;
            margin-left: 0;
        }
        h2 {
            font-size: 18px;
        }
        .content {
            display: flex;
            flex-direction: column;    
            margin-left: 0;
            margin-right: 0;
            .share-buttons {
                position: static;
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                margin-left: 3rem;
                margin-right: 3rem;
                button {
                    display: flex;
                }
            }
            .list {
                order: 1;
                width: auto;
            }
            .text {
                order: 2;
                margin-right: 0px;
            }
        }
    }
}